/* Banner Section  */
.to-bnr-title{
    padding-bottom: 20px;
}

/* Guide accordion section  */
.guide-acc-section{
    margin-top: 20px;
    margin-bottom: 40px;
}
.guide-main-div{
    border: 2px solid #e0e1e4;
    border-radius: 30px;
    padding: 16px 20px 16px 20px;
}
.guide-title{
    padding: 16px 0;
    border-bottom: 1px solid #e0e1e4;
    color: #333333 !important;
    font-size: 30px !important;
    font-weight: 600;
    margin-bottom: 20px;
}
#guideaccordion .accordion-item{
    border: 0;
    border-radius: 12px;
    margin-bottom: 14px;
    /* overflow: hidden; */
}
#guideaccordion .accordion-item .accordion-button.collapsed:focus{
    border-color: transparent;
    box-shadow: none;
}
#guideaccordion .accordion-item .accordion-button{
    background-color: #f8f9fc;
    font-weight: 600;
    color: #333333 !important;
    font-size: 18px !important;
    border-radius: 8px;
}
#guideaccordion .accordion-button:not(.collapsed)::after{
    background-image: url(../images/pr_chevron_icon.png);
    transform:translateY(-50%) rotate(0deg) !important;
    border: none;
    background-size: 24px;
}
#guideaccordion .accordion-button::after{
    background-image: url(../images/pr_chevron_icon.png);
    transform: translateY(-50%) rotate(180deg) !important;
    border: none;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    background-size: 24px;
}
#guideaccordion .accordion-body .gui-acc-cnt{
    color: #838383 !important;
    /* margin-bottom: 10px; */
    line-height: 26px;
}
.gui-acc-tab-div{
    display: flex;
    gap: 2rem;
    margin-bottom: 16px;
}
.gui-acc-tab{
    font-size: 14px !important;
    font-weight: 600;
    color: #333333 !important;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.gui-acc-tab.active{
    border-color: #1c75bc;
}
.gui-acc-tab-cnt{
    display: none;
}
.gui-acc-tab-cnt.active{
    display: block;
}
.gui-acc-tab-cnt span{
    color: #838383 !important;
    margin-bottom: 5px;
    display: block;
    line-height: 26px;
}
.gui-acc-tab-cnt ul{
    margin-left: 20px;
}
.acc-placeholder{
    color: #333333 !important;
}

@media (max-width:1400px) {
    .guide-title{
        font-size: 24px !important;
    }
    #guideaccordion .accordion-item .accordion-button{
        font-size: 16px !important;
    }
    #guideaccordion .accordion-body .gui-acc-cnt, .gui-acc-tab-cnt span{
        font-size: 14px !important;
        line-height: 20px;
    }
    .gui-acc-tab-div{
        gap: 1.5rem;
    }
}
@media (max-width:768px) {
    .guide-title{
        font-size: 18px !important;
    }
    #guideaccordion .accordion-item .accordion-button{
        font-size: 14px !important;
        padding: 10px 10px;
    }
    #guideaccordion .accordion-body{
        padding: 10px 10px;
    }
    .gui-acc-tab{
        font-size: 12px !important;
    }
    .gui-acc-tab-div{
        flex-wrap: wrap;
    }
    #guideaccordion .accordion-body .gui-acc-cnt, .gui-acc-tab-cnt span{
        line-height: 17px;
        font-size: 12px !important;
    }
    #guideaccordion .accordion-button:not(.collapsed)::after{
        background-size: 14px;
    }
    #guideaccordion .accordion-button::after{
        background-size: 14px;
    }
}
@media (max-width:575px) {
    #guideaccordion .accordion-button::after{
        right: 0;
    }
    #guideaccordion .accordion-item{
        border-radius: 7px;
    }
    .guide-main-div {
        border: 0;
        border-radius: 0;
        padding: 0;
    }
    #guideaccordion .accordion-item .accordion-button{
        padding: 10px 30px 10px 10px;
    }
}
@media (max-width:375px) {
    .guide-title {
        font-size: 16px !important;
    }
    .gui-acc-tab-div {
        gap: 10px;
    }
    #guideaccordion .accordion-button::after {
        right: -2px;
    }
}